nav.header{
  background-color: $blue-grey;
  border: none;
  border-radius: 0px;

  .row {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
  }
  
  #region-btn {
    text-transform: uppercase;
  }

  .region-group-btn {
    li {
      padding-left: 10px;
    }

    li:hover{
      background-color: $background-main;
    }
  }

  select{
    background-color: white;
  }
}