nav.header{
  background-color: $blue-grey;
  border: none;
  border-radius: 0px;

  .row {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
  }
  
  #region-btn {
    text-transform: uppercase;
  }

  #header-logo {
    float: left;
    font-family: league;
    color: #cfba6b;
    font-size: 16pt;
    cursor: pointer;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  #summoner-lookup {
    float: right;
    margin-right: 150px;
    margin-top: 7px;
    width: 300px;
  }



  select{
    background-color: white;
  }
}
.region-group-btn {
  li {
    padding-left: 10px;
  }

  li:hover{
    cursor: pointer;
    background-color: $background-main;
  }
}