<template name="header">
    
<!--     <ul>
        {{#each regions}}
            <li>Region: {{slug}}</li>
        {{/each}}
    </ul> -->
  <nav class="header navbar navbar-default">
    <div class="container-fluid">
        <form class="summoner-search">
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <div class="input-group-btn region-group-btn">
                  <input type='button' value={{selectedRegion.slug}} id='region-btn' class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <ul class="dropdown-menu">
                    {{#each regions}}
                        {{>region}}
                    {{/each}}
                  </ul>
                </div><!-- /btn-group -->
                <input type="text" name="summonerName" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Go!</button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div>
        </form>
    </div>
  </nav>
</template>
