<template name="leaderboard">
    <div class="background center-block fill top-wrapper">
    </div>

    <div class="container background">
        <div class="content">
            <h2><span class="leaderboard-champion-icon"><img src="{{ddragonUrl}}/cdn/6.9.1/img/champion/{{champion.key}}.png"/></span>Leaderboards for {{ champion.name }}</h2>
            {{#each regions}}
                {{> regionLeaderboard }}
            {{/each}}
            <table class="table summoner-info">
                <thead>
                <tr>
                    <th>Rank #</th>
                    <th>Summoner name</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                    {{#each board}}
                        <tr class="{{#if highlightSummoner data.playerId}}highlighted{{/if}}">
                            <td>{{ position @index }} </td>
                            <td><a href="/summoner/{{ summoner.region }}/{{ data.playerId }}">{{ summoner.name }}</a></td>
                            <td>{{ data.championPoints }}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <nav class="pagination-leaderboard">
                <ul class="list-inline items-per-page">
                Per page:
                  <li class="{{#if isSelectedPageSize 10}}active{{/if}}" value="10">10</li>,
                  <li class="{{#if isSelectedPageSize 50}}active{{/if}}" value="50">50</li>,
                  <li class="{{#if isSelectedPageSize 100}}active{{/if}}" value="100">100</li>
                </ul>
                <ul class="pagination">
                    {{#if prev}}
                        <li>
                            <a href="{{prev}}" aria-label="Previous" id="prev">
                                <span aria-hidden="true">&laquo; Previous</span>
                            </a>
                        </li>
                    {{/if}}
                    {{#if next summonerCount.summonerCount}}
                        <li>
                            <a href="{{next summonerCount.summonerCount}}" aria-label="Next" id="next">
                                <span aria-hidden="true">Next &raquo;</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        </div>

    </div>
    <div class="bottom-wrapper">
    </div>

</template>