<template name="footer">
    <div class="ui inverted padding-wrapper footer segment">
      <div class="footer-text">
        Website created by Koen Van geert & John Saelens,
        League Mastery isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
      </div>
    </div>
</template>

