.progress {
  margin-bottom: 0px;
}

.region-summoner {
  text-transform: uppercase;
}

.icon-summoner {
  padding-right: 20px;

  img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 80px; /* you can use % */
    height: auto;
    border: 1px solid white;
  }
}

#search-bar-summoner {
  margin-left: 0;
  margin-right: 0;
  padding-top: 50px;
}

table.summoner-info {
  img{
    width:40px; /* you can use % */
    height: auto;
  }

  tr:nth-child(even) {
    background: #CCC;
  }

  td {
    vertical-align: middle !important;
  }

  th:nth-child(5) {
    width: 40%;
  }

  tbody tr:hover {
    background-color: $hover-background;
  }

  input[type="checkbox"] {
    margin-left: 10px;
  }
}

.summoner {
  .left {
    float: left;
  }

  .summoner-details {
    padding-top: 7px;
  }
}

#region-btn {
  text-transform: uppercase;
}

#compare-block {
  width: 400px;
  float: right;
}