.progress {
  margin-bottom: 0px;
}

.region-summoner {
  text-transform: uppercase;
}

.icon-summoner {
  padding-right: 20px;

  img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 80px; /* you can use % */
    height: auto;
    border: 1px solid white;
  }
}

#search-bar-summoner {
  margin-left: 0;
  margin-right: 0;
}

table.summoner-info {
  img{
    width:40px; /* you can use % */
    height: auto;
  }

  tr:nth-child(even) {
    background: #CCC;
  }

  td {
    vertical-align: middle !important;
  }

  th:nth-child(5) {
    width: 40%;
  }

  tr:hover {
    background-color: #a2ce88;
  }

  input[type="checkbox"] {
    margin-left: 10px;
  }
}