<template name="summoner">
    <div class="background center-block fill top-wrapper">
<!--       <div class="form-group search-bar">
        <input type="text" class="form-control" id="champion-search" placeholder="Lookup champion">
      </div> -->
<!--       <ul class="champions">
          {{#each champions}}
            {{> champion }}
          {{/each}}
      </ul> -->
    </div>

    <div class="container background">
      <div class="content">
        <h2>Basic Table</h2>
        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
        <table class="table">
          <thead>
            <tr>
              <th>Icon</th>
              <th>Champion level</th>
              <th>Highest grade</th>
              <th>Chest</th>
              <th>Pts until next level</th>
            </tr>
          </thead>
          <tbody>
            {{#each stats}}
              {{> champion_summoner_overview}}
            {{/each}}
<!--             <tr>
              <td>John</td>
              <td>Doe</td>
              <td>Doe</td>
              <td>Doe</td>
              <td>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                  aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    1100/2500 exp
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
    <div class="bottom-wrapper">
    </div>
<!--     <ul>
        {{#each stats}}
            <li>{{data.championPoints}}</li>
        {{/each}}
    </ul> -->
</template>