<template name="compare">
    <div class="background center-block fill top-wrapper">
    </div>
    <div class="container background">

<!--         <div class="content">
            <table class="table summoner-info">
                <thead>
                <tr>
                    <th>Champion</th>
                    <th>Points {{ summoner1.name}}</th>
                    <th>Points {{ summoner2.name}}</th>
                </tr>
                </thead>
                <tbody>
                {{#each champions}}
                    {{#if hasChampion}}
                        <tr>
                            <td>{{name}}</td>

                            <td>{{masteriesSummoner1.data.championPoints}}</td>
                            <td>{{masteriesSummoner2.data.championPoints}}</td>
                        </tr>
                    {{/if}}

                {{/each}}
                </tbody>
            </table>
        </div> -->


      <div class="row">
        <div id="versus-wrapper">
          <img src="/images/versus.png">
        </div>
        <div class="summoner-names">
          <div class="summoner-left">
            <div class="icon-summoner left"> <img src="{{ddragonUrl}}/cdn/6.9.1/img/profileicon/1121.png"/></div>
            <div class="summoner-details left">
              <h2>Shiva</h2>
              Lv30 summoner - <span class="region-summoner">euw</span>
            </div>
          </div>

          <div class="summoner-right">
            <div class="icon-summoner right"> <img src="{{ddragonUrl}}/cdn/6.9.1/img/profileicon/1122.png"/></div>
            <div class="summoner-details right">
              <h2>Kamikaze</h2>
              Lv30 summoner - <span class="region-summoner">euw</span>
            </div>
          </div>
        </div>
      </div>

      <div class="compare-tables">
        <div class="table-first-summoner">
          <table class="table summoner-info">
            <thead>
              <tr>
                <th>Champion</th>
                <th>Mastery level</th>
                <th>Highest grade</th>
                <th>Up arrow</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Doe</td>
                <td>John</td>
                <td>Doe</td>
                <td><img src="/images/down-arrow.png"></td>
              </tr>
              <tr>
                <td>Doe</td>
                <td>John</td>
                <td>Doe</td>
                <td><img src="/images/down-arrow.png"></td>
              </tr>
              <tr>
                <td>Doe</td>
                <td>John</td>
                <td>Doe</td>
                <td><img src="/images/up-arrow.png"></td>
              </tr>
              <tr>
                <td>Doe</td>
                <td>John</td>
                <td>Doe</td>
                <td><img src="/images/up-arrow.png"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-second-summoner">
          <table class="table summoner-info">
            <thead>
              <tr>
                <th>Up arrow</th>
                <th>Highest grade</th>
                <th>Mastery level</th>
                <th>Champion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="/images/up-arrow.png"></td>
                <td>Doe</td>
                <td>John</td>
                <td>Doe</td>
              </tr>
              <tr>
                <td><img src="/images/up-arrow.png"></td>
                <td>Doe</td>
                <td>John</td>
                <td>Doe</td>
              </tr>
              <tr>
                <td><img src="/images/down-arrow.png"></td>
                <td>Doe</td>
                <td>John</td>
                <td>Doe</td>
              </tr>
              <tr>
                <td><img src="/images/down-arrow.png"></td>
                <td>Doe</td>
                <td>John</td>
                <td>Doe</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="bottom-wrapper">
    </div>
</template>