$width: 100px;
$height: 100px;
$border-size: 4px;


$border-color-1:  #757575;
$border-color-2:  lighten($border-color-1,40%);
$border-color-3:  lighten($border-color-1,60%);

.champion-icon:hover{
  cursor:pointer;
  content:'\A';
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);

  .champion-border{
    position: absolute;
    left: 8px;
    top: 0;
    width: 85px;
    height: 100px;
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
    z-index: 10;
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-image: rgb(150,135,22); /* Old browsers */
    border-image: -moz-linear-gradient(45deg, rgba(150,135,22,1) 9%, rgba(255,223,99,1) 21%, rgba(255,223,99,1) 26%, rgba(255,223,99,1) 31%, rgba(150,135,22,1) 44%, rgba(150,135,22,1) 47%, rgba(150,135,22,1) 50%, rgba(216,189,32,1) 63%, rgba(216,189,32,1) 70%, rgba(216,189,32,1) 70%, rgba(216,189,32,1) 76%, rgba(150,135,22,1) 90%); /* FF3.6-15 */
    border-image: -webkit-linear-gradient(45deg, rgba(150,135,22,1) 9%,rgba(255,223,99,1) 21%,rgba(255,223,99,1) 26%,rgba(255,223,99,1) 31%,rgba(150,135,22,1) 44%,rgba(150,135,22,1) 47%,rgba(150,135,22,1) 50%,rgba(216,189,32,1) 63%,rgba(216,189,32,1) 70%,rgba(216,189,32,1) 70%,rgba(216,189,32,1) 76%,rgba(150,135,22,1) 90%); /* Chrome10-25,Safari5.1-6 */
    border-image: linear-gradient(45deg, rgba(150,135,22,1) 9%,rgba(255,223,99,1) 21%,rgba(255,223,99,1) 26%,rgba(255,223,99,1) 31%,rgba(150,135,22,1) 44%,rgba(150,135,22,1) 47%,rgba(150,135,22,1) 50%,rgba(216,189,32,1) 63%,rgba(216,189,32,1) 70%,rgba(216,189,32,1) 70%,rgba(216,189,32,1) 76%,rgba(150,135,22,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-image-slice: 1;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#968716', endColorstr='#968716',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .champion-border-border{
    box-shadow: 0px 0px 10px #FFDF63;
    filter:progid:DXImageTransform.Microsoft.Glow(Color='#FFDF63',Strength=20);
  }
}

ul.champions{
  list-style: none;

  li{
    display: inline-block;
    margin-top: 5px;
  }
  img{
    display: block;
    width: $width;
    height: $height;
  }
}

.sq-left{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $height 0 0 18px;
  border-color: transparent transparent transparent $background-main;
}
.sq-right{
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px $height 0;
  border-color: transparent $background-main transparent transparent;
}
.champion-icon{
  position: relative;

}

.champion-border{
  position: absolute;
  left: 8px;
  top: 0;
  width: 85px;
  height: 100px;
  transform: skew(10deg);
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -o-transform: skew(10deg);
  z-index: 10;
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#716f70+9,fffefa+20,fffefa+26,fffefa+30,716f70+47,716f70+63,716f70+74,fffefa+89 */
  border-image: rgb(113,111,112); /* Old browsers */
  border-image: -moz-linear-gradient(-45deg, rgba(113,111,112,1) 9%, rgba(255,254,250,1) 20%, rgba(255,254,250,1) 26%, rgba(255,254,250,1) 30%, rgba(113,111,112,1) 47%, rgba(113,111,112,1) 63%, rgba(113,111,112,1) 74%, rgba(255,254,250,1) 89%); /* FF3.6-15 */
  border-image: -webkit-linear-gradient(-45deg, rgba(113,111,112,1) 9%,rgba(255,254,250,1) 20%,rgba(255,254,250,1) 26%,rgba(255,254,250,1) 30%,rgba(113,111,112,1) 47%,rgba(113,111,112,1) 63%,rgba(113,111,112,1) 74%,rgba(255,254,250,1) 89%); /* Chrome10-25,Safari5.1-6 */
  border-image: linear-gradient(135deg, rgba(113,111,112,1) 9%,rgba(255,254,250,1) 20%,rgba(255,254,250,1) 26%,rgba(255,254,250,1) 30%,rgba(113,111,112,1) 47%,rgba(113,111,112,1) 63%,rgba(113,111,112,1) 74%,rgba(255,254,250,1) 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-image-slice: 1;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#716f70', endColorstr='#fffefa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.champion-border-border{
  position: absolute;
  left: 6px;
  top: -1px;
  width: 88px;
  height: 102px;
  transform: skew(10deg);
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -o-transform: skew(10deg);
  z-index: 10;
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(68, 68, 68, 0.45);

  -webkit-box-shadow: 0px 0px 1px 1px #d0d0d0;
  -moz-box-shadow: 0px 0px 1px 1px #d0d0d0;
  box-shadow: 0px 0px 1px 1px #d0d0d0;
}

.search-bar {
  margin: 20px 40px 20px 40px;
}

.front-header-logo {
  margin-top: -50px;
  #front-logo {
    width: 50%;
    margin: 0 auto;
  }
}
