<template name="home">
    <div class="container">
        <ul class="champions">
            {{#each champions}}
                <li>
                    <div class="champion-icon">
                        <div class="sq-left"></div>
                        <div class="sq-right"></div>
                        <div class="champion-border">

                        </div>
                        <img src="{{ddragonUrl}}/cdn/6.9.1/img/champion/{{key}}.png"/>
                    </div>


                </li>
            {{/each}}
        </ul>
    </div>

</template>
